<div id="viewer">
    <h2>Bundle Details</h2>
    <ul>
        <li><b>Filename: </b>{{.Filename}}</li>
        <li><b>ID: </b>{{.ID}}</li>
        <li><b>Version: </b>{{.Version}}</li>
        <li><b>Snapshot: </b>{{.Snapshot}}</li>
        <li><b>Commit: </b>{{.Commit}}</li>
        <li><b>BuildTime: </b>{{.BuildTime}}</li>
    </ul>
    <hr/>
    <a href="/">Start Over</a>
</div>
